<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ARA Demo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/index.css">  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

  </head>

  <header class="navbar navbar-expand-lg sticky-top p-3">
    <div class="container-fluid">
      <a class="navbar-brand"> <img src = '../static/teamlogo.svg'></img> </a>

    <span class="navbar-text">
      Assistant for Research Analysts
    </span>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('howto')}}">How to use</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('price')}}">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('index')}}">Ask ARA</a>
        </li>
      </ul>
    </div>
    </div>
  </header>

  <body >
    <div class = 'container-fluid center-screen'>
      <div>
        <H2 id = 'title'>ARA is here to provide you with a comfortable morning</H2>
          <div class = 'p-3' style = 'color :gray'>
          <H5>Please don't spend any more time struggling to find and read news articles every morning!</H5>
          <h5>ARA can select and summarize recent updates in your sector for you</h5>
          </div>
      </div>
      <div class = 'p-5'>
          <H3 id = title style = 'text-align: center;'>What ARA can do</H3>
          <div id = list>
          <li>Reduce the time to select and read news articles related to your interests</li>
          <li>Answer your open domain question with reliable evidence </li>
          <li>Provide accurate and up-to-date financial data</li>
          <li>Provide sentiment analysis on recent articles related to your interests</li>
          </div>
        </div>
      <div class="p-3">
        <H3 id = title class ='p-3'>Features</H3>
        <div class = 'row'>
          <div class = 'col-md-4'>   
            <img src = '../static/icon1.png'>
            <h4>SaaS Solution</h4>
            Get instant access with a user friendly browser interface. <br> No need for complicated implementations.
          </div>
          <div class = 'col-md-4'>  <img src = '../static/icon2.png'>
            <h4>Summarization</h4>
            ARA can summarize the events of the previous day
          </div>          
          <div class = 'col-md-4'>    <img src = '../static/icon3.png'>  
            <h4>Sentiment Analysis</h4>
            You can check quantitatively measure of public expectations
          </div>           
        </div>
      </div>

      <div class = 'p-3'>
        <H3 id = title class ='p-3'>How does it work?</H3>
        <h6 style = 'color:gray;'> 
        Type specific sector of your interest and ask any question to ARA! <br>
        You can also rate our answer for better service
        </h6>
        <img src = '../static/sample.gif'> </img>
        <!-- sample gif를 넣어도 좋을듯.. -->
        

      </div>

      
      

        
    </div>


  </body>




  </html>