<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ARA Demo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/index.css">  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>    
    <script src="../static/index.js"></script>
  </head>

  <body>

  <header class="navbar navbar-expand-lg sticky-top p-3">
    <div class="container-fluid">
    <a class="navbar-brand"> <img src = '../static/teamlogo.svg'></img> </a>

    <span class="navbar-text">
      Assistant for Research Analysts
    </span>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('howto')}}">How to use</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('price')}}">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('index')}}">Ask ARA</a>
        </li>
      </ul>
    </div>
    </div>
  </header>
 
<body>

    <div id = 'main' class = 'bd-main p-3'>
      <div id="container" class="container-lg flex-wrap flex-lg-nowrap">
        <div id = 'bd-input' class = 'bd-input' >            
            <form class="row g-1">
              <select id = 'sector' class="form-select queryinput">
                <option selected>Sector</option>
                <option value="ms_basic_materials">Basic Materials</option>
                <option value="ms_communication_services">Communication Services</option>
                <option value="ms_consumer_cyclical">Consumer Cyclical</option>
                <option value="ms_consumer_defensive">Consumer Defensive</option>
                <option value="ms_energy">Energy</option>
                <option value="ms_finacial_services">Financial Services</option>
                <option value="ms_healthcare">Healthcare</option>
                <option value="ms_industrials">Industrials</option>
                <option value="ms_real_estate">Real Estate</option>
                <option value="ms_technology">Technology</option>
                <option value="ms_utilties">Utilities</option>
              </select>
                <div class="col-md-11">
                    <input id="queryinput" class="form-control queryinput has-validation" placeholder="Query" required>
                </div>
                <div class="col-md-1">
                    <button id="submit_btn" class="btn btn-outline-success smtbtn" onclick = clicked() >submit</button>
                </div>
            </form>
            <div id="queryinput_eg" class="form-text">
                e.g.give me a summary report of biology sector in last 24hrs
            </div>
        </div>
      </div>
        
    </div>
   
</body>
 
</html>