body{
  background-color: beige;
}
.bd-main {
    margin-top: 5px; margin-left: 10px;
  }
  .bd-intro {
    background-color:rgb(159, 230, 189); font-weight : bold;color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 5px; 
  }
  .bd-input {
    background-color: aliceblue; padding : 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey; 
    margin-top: 5px;
  }
  .smtbtn {
    width: 100%; 
  }
  .queryinput{
    border-radius: 2; background-color: aliceblue; width: 100%;
  }
  .navbar{
    background-color: beige;
  }

  .hidden{
    display: none;
  }

  .rating {
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: left; */
    height: 100%;
  }
  
  .rating > input{ display:none;}
  
  .rating > label {
    /* position: relative; */
      /* width: 1em;*/
      font-size: 1.5rem;
      color: #ffe355;
      cursor: pointer;
  }

  .rating > label::before{ 
    content: "\2605";
    position: absolute;
    opacity: 0;
  }
  .rating > label:hover:before,
  .rating > label:hover ~ label:before {
    opacity: 1; 
  }
  
  .rating > input:checked ~ label:before{
    opacity:1 ;
  }
  
  .rating:hover > input:checked ~ label:before{ opacity: 0.4; }

  .contbtn{
    display: flex;
    justify-content: right;
  }
